.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
      font-size: calc(10px + 2vmin);
  color: white;
}

.next_btn{
  background: transparent;
  border: 2px solid cyan;
  padding: 10px 20px;
  border-radius: 15px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.to_spin{
  transform: rotate(180deg);
  /* margin-top: 5px; */
}
.to_flex{
  display: flex;
}
.current_word{
  font-size: 50px;
  opacity: 0.6;
}
.trans_word{
  margin-bottom: 25px;
  font-size: 30px;
  color:crimson
}
.small_in_current{
  font-size: 22px;
  display: inline;
}
.main_word{
  font-size: 100px;
  margin: 30px;
}
.next_btn:hover{
  color: cyan;
}
.translate_btn{
  margin: 40px;
  background-color: transparent;
  color: white;
  border: none;
  border-bottom: 1px cyan solid;
  font-size: 20px;
  cursor: pointer;
}
.translate_btn:hover{
  box-shadow: 0px 0px 20px -8px cyan;
}

.word_and_trans{
  align-items: center;
  text-align: center;
}
.flex_btns{
  display: flex;
  width: 550px;
  justify-content: space-between;
}
.header_flex{
  display: flex;
  width: 550px;
  margin-top: 40px;
  justify-content: space-between;
}
.rus_eng_btn{
  background: transparent;
  color: white;
  padding: 5px;
  border: none;
  border-bottom: 1px cyan solid;
  font-size: 25px;
}
.rus_eng_btn:hover{
  box-shadow: 0px 0px 8px 0px cyan;
}
.selector{
  font-size: 25px;
  background: transparent;
  border: none;
  border-bottom: 1px solid cyan;
  color: white;
}
.selector:focus{
  outline: none;
  border: none;
  border-bottom: 1px solid cyan;
}
.selector option{
  color: white;
  background-color: #282c34;
}
.selector option{

}